# .gitignore
# Andreas Nolda 2025-04-24

*~
\#*

/.coverage
/.hypothesis/
/.idea/
/.venv/
/.python-version

__pycache__
*.egg-info

BUILD

*.a
*.ca
*.lex
*.log
*.temp

manifest.xml

/lexicon/open/src/

/build/
/dist/
/lib/
/releases/
