[submodule "wb"]
	path = lexicon/wb
	url = ../wb.git
	branch = zdl-lex-server/production
[submodule "SMORLemma"]
	path = SMORLemma
	url = https://github.com/rsennrich/SMORLemma.git
	branch = lemmatiser
[submodule "sfst"]
	path = sfst
	url = https://github.com/gremid/sfst.git
	branch = generate