# .gitignore
# Andreas Nolda 2023-10-04

*~
\#*

/.idea/
/.venv/
/.python-version

__pycache__
*.egg-info

BUILD

*.a
*.ca
*.lex
*.log
*.temp

manifest.xml

/lexicon/dwds/wb
/lexicon/sample/src/wb
/lexicon/tagh/

/build/
/lib/
/releases/

/test/UD_German-HDT-r2.12/
