# .gitignore
# Andreas Nolda 2022-08-19

.venv/
*~
\#*

__pycache__
*.egg-info

.dir-locals.el
.python-version

lexicon/test/output/
lexicon/wb/

grammar/lexicon
grammar/*.a
grammar/*.ca
grammar/*.log

lib/

test-reports/
