name: Publish

on:
  release:
    types:
      - released
  push:
    branches:
      - main

jobs:
  # test:
  #   name: Test
  #   uses: ./.github/workflows/test.yml
  build:
    name: Build
    # needs:
    #   - test
    runs-on: ubuntu-latest
    steps:
    - name: Check out sources
      uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
    - name: Install PyPA build
      run: pip install build --user
    - name: Build distribution
      run: python3 -m build
    - name: Store the distribution packages
      uses: actions/upload-artifact@v4
      with:
        name: python-package-distribution
        path: dist/
  # publish:
  #   name: Publish
  #   needs:
  #     - build
  #   runs-on: ubuntu-latest
  #   environment:
  #     name: pypi
  #     url: https://pypi.org/p/dwdsmor
  #   permissions:
  #     id-token: write
  #   steps:
  #   - name: Download all the dists
  #     uses: actions/download-artifact@v4
  #     with:
  #       name: python-package-distribution
  #       path: dist/
  #   - name: Publish distribution to PyPI
  #     uses: pypa/gh-action-pypi-publish@release/v1
