name: Publish
on:
  release:
    types:
      - released
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: Check out sources
      uses: actions/checkout@v4
    - name: Install OS dependencies
      run: |
        sudo apt-get update && sudo apt-get install -y --no-install-recommends \
            python3\
            default-jdk\
            libsaxonhe-java\
            sfst
    - name: Install Python dependencies
      run: pip install -U pip setuptools && pip install -r requirements.dev.txt
    - name: Lint sources
      run: pre-commit run --all-files
    - name: Build
      run: python -m dwdsmor.build
    - name: Run tests
      run: pytest --snapshot-warn-unused
    - name: Build distribution
      run: python -m build
    - name: Store the distribution packages
      uses: actions/upload-artifact@v4
      with:
        name: python-package-distribution
        path: dist/
  publish:
    name: Publish
    needs:
      - build
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/dwdsmor
    permissions:
      id-token: write
    steps:
    - name: Download all the dists
      uses: actions/download-artifact@v4
      with:
        name: python-package-distribution
        path: dist/
    - name: Publish distribution to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
