on: [push]

name: Test

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Check out sources
      uses: actions/checkout@v4
    - name: Install OS dependencies
      run: |
        sudo apt-get update && sudo apt-get install -y --no-install-recommends \
            python3\
            default-jdk\
            libsaxonhe-java\
            sfst
    - name: Install Python dependencies
      run: pip install -U pip && pip install .[dev]
    - name: Cache pre-commit hooks
      uses: actions/cache@v4
      with:
        path: ~/.cache/pre-commit
        key: ${{ runner.os }}-precommit-${{ hashFiles('.pre-commit-config.yaml') }}
    - name: Lint sources
      run: pre-commit run --all-files
    - name: Build
      run: scripts/build
    - name: Run tests
      run: pytest
