name: Test
on:
  pull_request:
    branches_ignore:
      - release-please*
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Check out sources
      uses: actions/checkout@v4
    - name: Install OS dependencies
      run: |
        sudo apt-get update && sudo apt-get install -y --no-install-recommends \
            python3\
            default-jdk\
            libsaxonhe-java\
            sfst
    - name: Install Python dependencies
      run: pip install -U pip setuptools && pip install .[dev]
    - name: Lint sources
      run: pre-commit run --all-files
    - name: Build
      run: ./build-dwdsmor
    - name: Run tests
      run: pytest
